/* line 17, ../sass/tooltip.scss */
.simple-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 14px;
  line-height: 1.4;
}
/* line 25, ../sass/tooltip.scss */
.simple-tooltip.placement-top {
  margin-top: -3px;
  padding: 5px 0;
}
/* line 29, ../sass/tooltip.scss */
.simple-tooltip.placement-right {
  margin-left: 3px;
  padding: 0 5px;
}
/* line 33, ../sass/tooltip.scss */
.simple-tooltip.placement-bottom {
  margin-top: 3px;
  padding: 5px 0;
}
/* line 37, ../sass/tooltip.scss */
.simple-tooltip.placement-left {
  margin-left: -3px;
  padding: 0 5px;
}

/* line 45, ../sass/tooltip.scss */
.tooltip-content {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  min-width: 60px;
}

/* line 59, ../sass/tooltip.scss */
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* line 68, ../sass/tooltip.scss */
.simple-tooltip.placement-top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
/* line 75, ../sass/tooltip.scss */
.simple-tooltip.placement-top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
/* line 81, ../sass/tooltip.scss */
.simple-tooltip.placement-top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
/* line 87, ../sass/tooltip.scss */
.simple-tooltip.placement-right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
/* line 94, ../sass/tooltip.scss */
.simple-tooltip.placement-left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
/* line 101, ../sass/tooltip.scss */
.simple-tooltip.placement-bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
/* line 108, ../sass/tooltip.scss */
.simple-tooltip.placement-bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
/* line 114, ../sass/tooltip.scss */
.simple-tooltip.placement-bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes moveOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes moveOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
/* line 160, ../sass/tooltip.scss */
.tooltip-in {
  -moz-animation-name: moveIn;
  -webkit-animation-name: moveIn;
  animation-name: moveIn;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-timing-function: cubic-bezier(0.03, 0.71, 0.48, 1);
  -webkit-animation-timing-function: cubic-bezier(0.03, 0.71, 0.48, 1);
  animation-timing-function: cubic-bezier(0.03, 0.71, 0.48, 1);
}

/* line 167, ../sass/tooltip.scss */
.tooltip-out {
  -moz-animation-name: moveIn;
  -webkit-animation-name: moveIn;
  animation-name: moveIn;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-timing-function: cubic-bezier(0.03, 0.71, 0.48, 1);
  -webkit-animation-timing-function: cubic-bezier(0.03, 0.71, 0.48, 1);
  animation-timing-function: cubic-bezier(0.03, 0.71, 0.48, 1);
}
